<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-N7RTPWJ');</script>
<!-- End Google Tag Manager -->
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N7RTPWJ"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.show_downloads %}
        <a href="{{ '/assets/dummy.csv'| relative_url }}" class="btn" onclick="return emit();">Download</a>
      {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    <script type="text/javascript">
    function emit(){
      console.log('function called');
      ga('create', {trackingId: 'UA-180451723-1'});
      ga('send', 'event', 'downloadApk', 'topBtn', 'thoptv');
    }
    </script>
  </body>
</html>
